.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.hed_containers{
    text-align: center;
    margin-top: 5rem;
}
.hed_containers h5{
    font-size: 2rem;
    animation: blinker 2s linear infinite; 
}
.head_text{
    margin-right: 10rem;
}
.me img{
  animation: blinker 4s linear infinite;
}

/* Scroller styling */
.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    /* margin-top: 1rem; */
}
  .scroller > span{
    position: absolute;
    animation: slide 4s infinite;  
    /* font-weight: bold; */
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }
.cta{
    display: inline-flex;
    margin-top: 2rem;
    gap: 3rem;
}
.header_social{
    font-size: 2rem;
    display: inline-flex;
    gap: 2rem;
    margin-top: 3rem;
}
.scroll_down{
    margin-top: 2rem;
}
.scroll_down a{
    color: gold;
    font-size: 1.5rem;
    animation: blinker 2s linear infinite; 
}


@keyframes blinker {
  50% { opacity: 0; }
}
@keyframes blin {
  50% { opacity: 0; }
}



/* ====== Media Query (Medium Devices) */

@media screen and (max-width: 1024px){
  .header_container{
      grid-template-columns: 1fr;
  }
}
/* ====== Media Query (Small Devices) */

@media screen and (max-width: 600px){
    .hed_img{
        margin-top: -3rem;
        margin-left: 1.5rem;
    }
    .hed_containers{
        margin-top: -8%;
    }
    .head_text{
        margin-right: 8rem;
    }
}